*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 nav .row{
     display: flex;
     justify-content: center;
 }
 nav{
     background: #081621;
 }
 
 nav .container{
     width: 1200px;
     margin: auto;
 }
 nav ul{
     list-style-type: none;
 }
 nav ul li{
     display: inline-block;
     
 }
 nav ul li a{
     display: inline-block;
     padding: 20px 10px;
     color: #fff;
     text-decoration: none;
     font-family: Arial, Helvetica, sans-serif;
     position: relative;
 }
 nav ul li a:hover{
     color: orange;
 
 }
 nav ul li a::before{
     content: '';
     position: absolute;
     width: 0%;
     height: 5px;
     background-color: orange;
     left: 0;
     transition: 0.3s;
     bottom: 0;
 }
 nav ul li a:hover:before{
     width: 100%;
 }
 nav .parent{
     position: relative;
 }
 nav .parent .child{
     position: absolute;
     background: black;
     width: 280px;
     opacity: 0;
     visibility: hidden;
 }
 nav .parent .child li{
     width: 280px;
 }
 nav .parent .child li a{
     display: block;
 }
 nav .parent:hover .child{
     visibility: visible;
     opacity: 1;
     transition: 0.5s;
     border-top: 5px solid orange;
   
 }
 nav .parent .subparent{
     position: relative;
 }
 
 nav .parent .subchild{
     background: black;
     position: absolute;
     left: 100%;
     top: 0;
     visibility: hidden;
     opacity: 0;
 }
 nav .parent .subparent:hover .subchild{
     visibility: visible;
     opacity: 1;
 }
 
 
 